[submodule "git_wkdir/bat"]
	path = git_wkdir/bat
	url = https://github.com/sharkdp/bat.git
[submodule "git_wkdir/exa"]
	path = git_wkdir/exa
	url = https://github.com/ogham/exa.git
[submodule "git_wkdir/leftwm"]
	path = git_wkdir/leftwm
	url = https://github.com/leftwm/leftwm.git
[submodule "git_wkdir/lsd"]
	path = git_wkdir/lsd
	url = https://github.com/Peltoche/lsd.git
[submodule "git_wkdir/bottom"]
	path = git_wkdir/bottom
	url = https://github.com/ClementTsang/bottom.git
[submodule "git_wkdir/hyperfine"]
	path = git_wkdir/hyperfine
	url = https://github.com/sharkdp/hyperfine.git
[submodule "git_wkdir/procs"]
	path = git_wkdir/procs
	url = https://github.com/dalance/procs.git
[submodule "git_wkdir/skim"]
	path = git_wkdir/skim
	url = https://github.com/lotabout/skim.git
[submodule "git_wkdir/tock"]
	path = git_wkdir/tock
	url = https://github.com/nwtnni/tock.git
[submodule "git_wkdir/ripgrep"]
	path = git_wkdir/ripgrep
	url = https://github.com/BurntSushi/ripgrep.git
[submodule "git_wkdir/mdcat"]
	path = git_wkdir/mdcat
	url = https://github.com/lunaryorn/mdcat.git
[submodule "git_wkdir/fd"]
	path = git_wkdir/fd
	url = https://github.com/sharkdp/fd
[submodule "git_wkdir/xplr"]
	path = git_wkdir/xplr
	url = https://github.com/sayanarijit/xplr
[submodule "git_wkdir/sl-rust"]
	path = git_wkdir/sl-rust
	url = https://github.com/skade/sl-rust
[submodule "git_wkdir/rmatrix"]
	path = git_wkdir/rmatrix
	url = https://github.com/Fierthraix/rmatrix
[submodule "git_wkdir/broot"]
	path = git_wkdir/broot
	url = https://github.com/Canop/broot
[submodule "git_wkdir/starship"]
	path = git_wkdir/starship
	url = https://github.com/starship/starship.git
[submodule "git_wkdir/gitui"]
	path = git_wkdir/gitui
	url = https://github.com/extrawurst/gitui.git
[submodule "git_wkdir/lazygit"]
	path = git_wkdir/lazygit
	url = https://github.com/jesseduffield/lazygit.git
[submodule "git_wkdir/flamegraph"]
	path = git_wkdir/flamegraph
	url = https://github.com/flamegraph-rs/flamegraph
[submodule "git_wkdir/tokei"]
	path = git_wkdir/tokei
	url = https://github.com/XAMPPRocky/tokei.git
[submodule "git_wkdir/zola"]
	path = git_wkdir/zola
	url = https://github.com/getzola/zola.git
[submodule "bytehound"]
	path = bytehound
	url = git@github.com:koute/bytehound.git
